@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar ul li {
    border-bottom: 6px solid transparent;
}

.navbar ul li:hover {
    border-bottom: 6px solid #FFA800;
}

.image_holder {
    display: flex;
    height: 702px;
    background-image: url("/images/emmem.png");
    background-color: #302f30;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}

.image_text_container {
    font-weight: 700;
    width: 100%;
    position: absolute;
    top: 357px;
    box-shadow: 0px 4px 4px 0px #00000010, 0px -4px 4px 0px #00000010;
}

.image_text h1 {
    font-size: 60px;
    text-align: center;
    color: #FFA800;
    margin-bottom: 12px;
}

.image_text p {
    font-size: 30px;
    opacity: 0.65;
    margin: 0 auto;
    width: 820px;
    text-align: left;
    color: #FFF;
}

.yellow {
    color: #FFA800;
}

.church_founder {
    object-fit: cover; ;
    rotate: 15deg;
}

.church_logo_holder {
    height: 381.91px;
    width: 548.65px;
    overflow: hidden;
}

#core-values {
    height: 702px;
    background-image: url("/images/bg_image.png");
    background-color: #302f30;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}

.members_testimonies {
    position: relative;
    padding: 72px 0 64px 72px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
}

/* For guidance and most likely not usage */
/* .members_testimonies_header {
    font-weight: 700;
    font-size: 50px;
    color:#02006C;
    position: absolute;
    top: 300px;
    left: 60px;
    width: 580px;
} */

.quotes {
    background-image: url("/assets/bi_quote.png");
    /* height: 264px; */
    background-position: 430px -30px;
    background-repeat: no-repeat;
    
}

.reach-out {
    height: 702px;
    background-image: url("/images/bg_image.png");
    background-color: #302f30;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}

.footer {
    background-image: url(/images/Frame_177.png);

}

.footer h4 {
    font-weight: bold;
    font-size:larger;
    margin-bottom: 12px;
}

.footer li {
    color: #02006CA3;

}

.email {
    overflow: hidden;
    font-size: 20px;
    border: 3px solid #02006CA3;
    border-radius: 10px;
    display: flex;
    outline: none;
}

/* ::placeholder {
    color: #02006C73;
} */

#email-btn {
    font-size: larger;
    border: none;
    width: 206px;
    outline: none;
    background-color: #02006C;
    color: #fff;
}

.reaching_out ul a li{
    margin-bottom: 16px;
}